* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --bg-primary: #222222;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg-primary);
  border-bottom: 3px solid #7c9c37;
}
nav ul {
  display: flex;
  gap: 1rem;
  list-style-type: none;
  color: white;
}
nav ul li {
  border-left: 2px solid #6c6c6c;
  padding: 10px;
}
nav ul li:hover {
  color: #54652e;
  cursor: pointer;
}
nav ul li:first-child {
  border: 0;
}
@media screen and (max-width: 1000px) {
  nav ul {
    display: none;
  }
  .hamburger {
    display: block !important;
  }
}
.hero-carousel {
  position: relative;
}
.hero-carousel img {
  width: 100%;
  height: 500px;
}

.arrow,
.arrow.fa-arrow-left {
  font-size: 2rem;
  background-color: black;
  color: #666666;
  padding: 10px;
  border-radius: 50%;
  position: absolute;
  z-index: 2;
  top: 50%;
  right: 5%;
  display: block;
  transform: translateY(-50%);
}
.arrow.fa-arrow-left {
  left: 5%;
  right: unset;
}
.quote {
  color: #5e5e5e;
  font-weight: 100;
  width: 75%;
  margin: 30px auto;
  text-align: center;
}
.line {
  background: #f1f1f1;
  width: 75%;
  height: 2px;
  margin: 10px auto;
}
.card {
  width: 220px;
  background: #f0f0f0;
}
.card h2 {
  color: #7c9c37;
}
.card-content {
  padding: 10px 10px;
}
.carousel {
  display: grid;
  grid-template-columns: repeat(4, 250px);
  place-items: center center;
  padding: 20px;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  row-gap: 1rem;
}
.hamburger {
  font-size: 2rem;
  color: white;
  display: none;
  margin-right: 10px;
}
@media screen and (max-width: 1000px) {
  .carousel {
    grid-template-columns: repeat(2, 250px);
  }
}
@media screen and (max-width: 500px) {
  .carousel {
    grid-template-columns: repeat(1, 250px);
  }
}

.post {
  display: flex;
  gap: 1rem;
  width: 230px;
}
.post img {
  width: 48px;
  height: 48px;
}
.post h2 {
  color: #7c9c37;
}
.post p {
  color: #666666;
}
.post-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.container {
  padding: 20px;
  display: flex;
  gap: 1rem;
  justify-content: center;
}
.articles {
  width: 45%;
}
.users {
  width: 45%;
}
.link {
  color: #7b9b37;
}
.name {
  color: #666666;
  font-weight: bold;
}
.user-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

@media screen and (max-width: 1000px) {
  .container {
    flex-direction: column;
    align-items: center;
  }
  .articles {
    width: 100%;
  }
  .post-container {
    place-items: center center;
  }
  .users {
    width: 100%;
  }
  .post-container {
    place-items: center center;
  }
}
@media screen and (max-width: 600px) {
  .container {
    flex-direction: column;
    align-items: center;
  }
  .articles {
    width: 100%;
  }
  .post-container {
    place-items: center center;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 1rem;
  }
  .user-container {
    flex-direction: column;
    align-items: center;
  }
  .post-container {
    place-items: center center;
  }
}
footer {
  background: #222222;
}
footer .footer-wrapper {
  padding: 20px 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 75%;
  margin: 0 auto;
}
footer h3 {
  color: #666666;
  margin: 10px 0px;
}

footer p {
  color: #666666;
}
@media screen and (max-width: 1200px) {
  .footer-wrapper {
    width: 100% !important;
  }
}
@media screen and (max-width: 950px) {
  .footer-wrapper {
    grid-template-columns: repeat(2, 1fr) !important;
  }
}
@media screen and (max-width: 600px) {
  .footer-wrapper {
    grid-template-columns: repeat(1, 1fr) !important;
    width: 50% !important;
  }
}
